.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 88px;
  padding: 16px 128px;
  background-color: #ffffff;
  border-bottom: 1px solid rgba(0, 0, 0, 0.05);
}

.cta-container {
  width: 11.438rem;
}
